<nav [ngClass]="{'scrolled': isScrolled}">
  <div class="logo">
    <span>Sergis Store</span>
  </div>

  <div class="burger-menu" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <div class="nav-links" [ngClass]="{'active': isMenuOpen}">
    <a routerLink="/">Home</a>
    <a routerLink="/cart">Cart</a>
    <a routerLink="product/:id">Product Details</a>
    <a routerLink="/auth">Auth</a>
  </div>
</nav>

<router-outlet></router-outlet>
